* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.sec-princ {
  display: flex;
  width: 100vh;
  flex: 1;
}

.sidebar {
  border-right: 1px solid #ccc;
  padding: 25px;


}

.contact-list {
  list-style: none;

}



.contact,
.contact-online {
  display: flex;
  gap: 15px;
  padding: 10px 0px;
  padding-bottom: 15px;
  padding-top: 10px;
}


.contact img,
.contact-online img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.contact h4,
.contact-online h4 {
  margin-bottom: 4px;
  font-size: 15px;

}

.status,
.status-online {
  font-size: 9px;
  color: #666;
  font-weight: bold;
}

.status::before {
  content: "• ";
  color: red;
}

.status-online::before {
  content: "• ";
  color: green;
}

.search {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 25px;
  padding-right: 50px;
}

.contact:hover,
.contact-online:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  transform: scale(1.05);
}

.info-chat {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  border-bottom: 1px solid #ccc;

}

.chat-header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}



.chat-header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chat-header h3 {
  font-size: 15px;
  margin-right: auto;
}

.chat-header p {
  font-size: 10px;
  color: rgb(19, 14, 14);
}

.chat-actions {
  display: flex;
  gap: 10px;
  padding: 15px;
}

.chat-actions button {
  padding: 5px 9px;
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  border: none;
  transition: 0.3;
}

.chat-actions button:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  transform: scale(1.05);
}

main {
  flex: 1;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  flex: 1;


}

.sent {
  background-color: rgb(153, 237, 144);
  align-self: self-end;
}

.received {
  background-color: rgba(218, 218, 218, 0.882);
  align-self: flex-start;

}

.message {
  max-width: max-content;
  border-radius: 10px;
  padding: 5px;
}

.timestamp {
  color: #979494;
  font-size: 10px;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat-footer {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 20px;
  gap: 12px;
}

.chat-footer input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
}

.chat-footer button {
  border-radius: 10px;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  transition: 0.3;
}

.chat-footer button:hover {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  transform: scale(1.05);
}



.aiden {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}